@media only screen and (max-width: $smallScreen) {
    .watermark {
        width: 20%;
        height: 20%;
    }

    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                width: 23%;
                .toolbox-button {
                    .toolbox-icon {
                        width: 50px;
                        height: 50px;
                        svg {
                            width: 27px;
                            height: 27px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $verySmallScreen) {
    #videoResolutionLabel {
        display: none;
    }
    .desktop-browser {
        .vertical-filmstrip .filmstrip {
            display: none;
        }
    }
    .new-toolbox {
        .toolbox-content {
            .button-group-center, .button-group-left, .button-group-right {
                width: 23%;
                .settings-button-small-icon {
                    display: none;
                }
                .toolbox-button {
                    .toolbox-icon {
                        width: 50px;
                        height: 50px;
                        svg {
                            width: 27px;
                            height: 27px;
                        }
                    }

                    &:nth-child(2) {
                        .toolbox-icon {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
    .chrome-extension-banner {
        display: none;
    }
}
